.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
Packages/
packages/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/netcoreapp2.0
.DS_Store
Server/.DS_Store
/Server/.vscode/
/Unity/Assets/Res/Code/Hotfix.dll.bytes.meta
/Unity/Assets/Res/Code/Hotfix.mdb.bytes
/Unity/Assets/Res/Code/Hotfix.mdb.bytes.meta
/Unity/Assets/Res/Code/Hotfix.pdb.bytes
/Unity/Assets/Res/Code/Hotfix.pdb.bytes.meta
/Unity/Assets/Res/Code/Hotfix.dll.bytes
